{% macro render(item) %}
<div id="{{ item.id }}" class="form-group {% if item.classes %}{{ item.classes|join(' ') }}{% endif %}">
    <input type="hidden"{% if item.form %} form="{{ item.form }}"{% endif %} id="hidden-{{ item.name }}"{% if item.raw or item.raw == 0 %} value="{{ item.raw }}"{% endif -%}>
    <div class="checkbox">
        <label class="checkbox-inline"{% if item.tooltip %} data-toggle="tooltip" title="{{- item.tooltip|trans|capitalize -}}"{% endif -%}>
            <input type="checkbox" id="input-{{ item.id }}"{% if item.checked %} checked{% endif %}>
            &#160;{% if item.label %}{{ trans(item.label)|capitalize }}{% endif %}
        </label>
    </div>
</div>
<script type="text/javascript">
;(function($,document){
    var JQContentLoaded = function(){
        var $ = $ || window.$;
        if($){
            $.jo.debugStop();
            var $element = $('#input-{{ item.id }}');
            var $hidden = $('#hidden-{{ item.name }}');
            $(document).on('ifToggled', '#input-{{ item.id }}', function(e){
                var _el = e.target;
                var _val = $hidden.val();
                $hidden.val(_el.checked ? '1':'0').change();
            });
            $hidden.on('change', function(){
                var _el = $element[0].checked ? '1':'0';
                var _val = $(this).val();
                if(_el!=_val){ $element.iCheck(_val>0 ? 'check':'uncheck'); }
            });
            {% if item.readonly %}
                $element.iCheck('disable');
            {% endif %}
            {% if item.checked %}
                $element.iCheck('check');
            {% endif %}
            {% if item.script %}
                {{ item.script|raw }}
            {% endif %}
        }
    };
    if($){ JQContentLoaded(); }
    else{ document.addEventListener('DOMContentLoaded',JQContentLoaded); }
})(window.jQuery,window.document);
</script>
{% endmacro %}