{% macro setItems(item) %}
{% import _self as self %}
{% import 'Macros/bs-input.twig' as bsInput %}
{% import 'Macros/bs-radio.twig' as bsRadio %}
{% import 'Macros/bs-checkbox.twig' as bsCheckbox %}
{% import 'Macros/bs-select.twig' as bsSelect %}
{% import 'Macros/bs-button.twig' as bsButton %}
{% import 'Macros/jq-currency.twig' as jqCurrency %}
{% import 'Macros/jq-dates.twig' as jqDate %}
    {% if item.items %}
    <!-- begin_with_items-{% if item.id %}{{ item.id|raw }}{% endif %} -->
        {% if item.tpl == "form-panel" %}
            <div class="panel panel-default"{% if item.id %} id="{{ item.id|raw }}"{% endif %}>
                <div class="panel-heading">
                    <h3 class="panel-title">
                    {% if item.title %}{{ trans(item.title)|capitalize }}
                    {% else %}no_title
                    {% endif %}</h3>
                </div>
                <div class="panel-body">
                    {% for item_1 in item.items %}
                        {% if item.vertical %}
                            {% if loop.index0 % item.vertical == 0 %}
                                <!-- begin_v --><div class="{{ item.layout }}">
                            {% endif %}
                            {{ self.setItems(item_1) }}
                            {% if (loop.index0 % item.vertical == ( item.vertical - 1 ) ) or loop.last %}
                                </div><!-- end_v -->
                            {% endif %}
                        {% else %}
                            <div class="{{ item.layout }}">{{ self.setItems(item_1) }}</div>
                        {% endif %}
                    {% endfor %}                
                </div>
            </div>
        {% elseif item.tpl == "form-tabs" %}
            <label class="control-label" style="white-space: nowrap;">{{ trans(item.title)|capitalize }}</label>
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    {% for item_head in item.items %}
                        <li{% if loop.first %} class="active"{% endif %}>
                            <a href="#tab_{{ item.id }}-{{ loop.index }}" data-toggle="tab">
                                {{ trans(item_head.title)|capitalize }}
                            </a>
                        </li>
                    {% endfor %} 
                </ul>
            </div>
            <div class="tab-content">
                {% for item_body in item.items %}
                    <div class="tab-pane{% if loop.first %} active{% endif %}" id="tab_{{ item.id }}-{{ loop.index }}">
                        <div class="{{ item.layout }}">{{ self.setItems(item_body) }}</div>
                    </div>
                {% endfor %} 
            </div>
        {% elseif item.tpl == "form-vertical" %}
            <div class="row">
                <div class="{% if item.layout %}{{ item.layout }}{% else %}col-md-10 col-md-offset-2{% endif %}">
                {% for item_v in item.items %}
                    {{ self.setItems(item_v) }}
                {% endfor %} 
                </div>
            </div>
        {% else %}
            {% if item.tpl %}<div class="{{ item.tpl }}">{% endif %}
            {% for item_n in item.items %}
                {% if item.layout %}<div class="{{ item.layout }}">{% endif %}
                    {{ self.setItems(item_n) }}
                {% if item.layout %}</div>{% endif %}
            {% endfor %} 
            {% if item.tpl %}</div>{% endif %}
        {% endif %}
        <!-- end_with_items -->
    {% else %}
    {% if item.layout %}<div class="{{ item.layout }}">{% endif %}
    <!-- begin_with_component -->
        {% if item.tpl %}
        <!-- component_with_tpl -->
            {% if item.tpl == "form-input" %}
                <!-- begin_form-input_component -->
                {{ bsInput.render(item) }}
                <!-- end_form-input_component -->
            {% elseif item.tpl == "form-radio" %}
                <!-- begin_form-radio_component -->
                {{ bsRadio.render(item) }}
                <!-- end_form-radio_component -->
            {% elseif item.tpl == "form-checkbox" %}
                <!-- begin_form-checkbox_component -->
                {{ bsCheckbox.render(item) }}
                <!-- end_form-checkbox_component -->
            {% elseif item.tpl == "form-button" %}
                <!-- begin_form-button_component -->
                {{ bsButton.render(item) }}
            {% elseif item.tpl == "form-select" %}
                <!-- begin_form-select_component -->
                {{ bsSelect.render2(item) }}
                <!-- end_form-select_component -->
            {% elseif item.tpl == "form-date" %}
                <!-- begin_form-date_component -->
                {{ jqDate.render2(item) }}
                <!-- end_form-date_component -->
            {% elseif item.tpl == "form-currency" %}
                <!-- begin_form-currency_component -->
                {{ jqCurrency.render(item) }}
                <!-- end_form-currency_component -->
            {% elseif item.tpl == "form-hr" %}
                <!-- begin_form-hr_component -->
                {{ bsDivider.render(item) }}
                <!-- end_form-hr_component -->
            {% else %}    
                <p class="placeholder hidden-sm hidden-xs {% if item.classes %}{{- item.classes|join(' ') -}}{% endif %}">&#160;</p>
            {% endif %}
        {% else %}
        <!-- component_without_tpl -->
            <p class="placeholder hidden-sm hidden-xs {% if item.classes %}{{- item.classes|join(' ') -}}{% endif %}">&#160;</p>
        {% endif %}
    {% if item.layout %}</div>{% endif %}
    <!-- end_with_component -->
    {% endif %}
{% endmacro %}