{% macro render(item) %}
<div id="{{- item.id -}}" class="form-group {% if item.classes %}{{ item.classes|join(' ') }}{% endif %}">
    <input type="hidden"{% if item.form %} form="{{ item.form }}"{% endif %} id="hidden-{{ item.name }}" value="{% if item.raw %}{{ item.raw }}{% endif %}">
    {% if item.label %}
    <label class="col-sm-2 control-label">{{ item.label }}</label>
    <div class="col-sm-10">
    {% endif %}
        <div class="radio">
        {% for radio in item.list %}
            <label class="radio-inline">
                <input type="radio" name="{{ radio.name }}" value="{{ radio.value }}"{% if radio.checked %} checked{% endif %}>
                &#160;{{ trans(radio.text)|capitalize }}
            </label>
        {% endfor %}
        </div>
    {% if item.label %}
    </div>
    {% endif %}
</div>
<script type="text/javascript">
;(function($,document){
    var JQContentLoaded = function(){
        var $ = $ || window.$;
        if($){
            var $elements = $('input:radio',$('#{{- item.id -}}'));
            var $hidden = $('input#hidden-{{ item.name }}');
            $elements.on('ifChecked', function(){
                var _val = $hidden.val(), $val = $(this).val();
                if(_val!=$val){ $hidden.val($val).change(); }
            });
            $hidden.on('change', function(){
                var $val = $(this).val();
                $.each($elements,function(){
                    this.checked = $(this).val()==$val;
                });
            });
        }
    };
    if($){ JQContentLoaded(); }
    else{ document.addEventListener('DOMContentLoaded',JQContentLoaded); }
})(window.jQuery,window.document);
</script>
{% endmacro %}