{% macro render(datas) %}
<canvas id="{{- datas.id -}}" {%- if datas.styles -%} style="{{- datas.styles|join(' ') -}}"{%- endif -%}></canvas>
<script type="text/javascript">
;(function($,document){
    var JQContentLoaded = function(){
        var $ = $ || window.$;
        if($){
            var _chart,
                $el = $('#{{- datas.id -}}'),
                _type = '{{- datas.type -}}',
                _data = {{ datas.data|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
                _options = {{ datas.options|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
                _launch = function(){
                    var chart = Chart || window.Chart;
                    return new chart( $el, {
                        type: _type,
                        data: _data,
                        options: _options
                    });
                };
            if(typeof(window.Chart)!='undefined'){
                _chart = _launch();
            }else{
                if($.jo.loadScripts){
                    $.jo.loadScripts( ['{{ asset_path("chartjs_lib","js","vendor")|join("\',\'") }}'] , ()=>{
                        _chart = _launch();
                    });
                }else{
                    $el.parent().html('<div class="alert alert-warning" role="alert">{{ trans("default.missing_library") }} "chartjs_lib"</div>');
                }
            }
        }
    };
    if($){ JQContentLoaded(); }
    else{ document.addEventListener('DOMContentLoaded',JQContentLoaded); }
})(window.jQuery,window.document);
</script>
{% endmacro %}