{% macro render(item) %}
<div class="form-group{%- if item.classes %} {{ item.classes|join(' ') }}{% endif -%}">
    <input type="hidden"{%- if item.form %} form="{{ item.form }}"{% endif -%} id="hidden-{{ item.name }}" value="{% if item.raw %}{{ item.raw }}{% endif %}">
    <input type="text" id="{{ item.id }}" name="{{ item.name }}" value="0"{% if item.form %} form="{{ item.form }}"{% endif %}{% if item.readonly %} readonly{% endif %}>
    {%- if item.label %}<div class="knob-label">{{ item.label }}</div>{% endif %}
<script type="text/javascript">
;(function($,document){
    var JQContentLoaded = function(){
        var $ = $ || window.$;
        var $element = $('#{{ item.id }}');
        var $hidden = $('input#hidden-{{ item.name }}');
        var _release = function (v) {
            var _val = $hidden.val(), $val = $(this).val();
            if(_val!=$val){ $hidden.val($val).change(); }
        };
        var _launch = function () {
            var _el = $element;
            //$.jo.debugStop();
            $element.knob({
                {%- if not item.readonly %}release: _release, {% endif %}
                {%- if item.width %}width: {{ item.width }}, {% endif %}
                {%- if item.height %}height: {{ item.height }}, {% endif %}
                {%- if item.min or item.min == '0' %}min: {{ item.min }}, {% endif %}
                {%- if item.max %}max: {{ item.max }}, {% endif %}
                {%- if item.step %}step: {{ item.step }}, {% endif %}
                {%- if item.readonly %}readOnly: true, {% endif %}
                {%- if item.thickness %}thickness: {{ item.thickness }}, {% endif %}
                {%- if item.noInput %}displayInput: false, {% endif %}
                {%- if item.angleArc %}angleArc: {{ item.angleArc }}, {% endif %}
                {%- if item.skin %}skin: '{{ item.skin }}', {% endif %}
                {%- if item.fgColor %}fgColor: '{{ item.fgColor }}', {% endif %}
                {%- if item.bgColor %}bgColor: '{{ item.bgColor }}'{% endif -%}
            });
            $hidden.on('change', function(){
                var _val = $element.val(), $val = $(this).val();
                if(_val!=$val){ $element.val($val).change(); }
            });
            window.setTimeout( () => {
                _el.val({%- if item.value or item.value == '0' -%}{{- item.value -}}{%- else -%}0{%- endif -%}).trigger('change')
            }, Math.floor(1499*Math.random()) );
        };
        var _onBeforeLaunch = function(){
            //$.jo.debugStop();
            if(!$.fn.knob){
                window.setTimeout( () => { _loadScripts(); } , 250 );
            }else{
                _launch();
            }
        };
        var _loadScripts = function(){
            //$.jo.debugStop();
            $.jo.loadScripts( ['{{ asset_path("jqknob_lib","js","vendor")|join("\',\'") }}'] , _onBeforeLaunch );
        };
            
        if($){
            if($.fn.knob){
                _launch();
            }else{
                if($.jo.loadScripts){
                    _loadScripts();
                }else{
                    $element.remove();
                }
            }
        }

    };
    if($){ JQContentLoaded(); }
    else{ document.addEventListener('DOMContentLoaded',JQContentLoaded); }
})(window.jQuery,window.document);
</script>
</div>
{% endmacro %}
