{% macro setItems(menuitem) %}
{% import _self as self %}
    {% if menuitem.items %}
        <li class="treeview"{% if menuitem.id %} id="{{ menuitem.id }}"{% endif %}>
            <a href="javascript:">
                {% if menuitem.iconCls -%}<i class="{{ menuitem.iconCls }}"></i>{%- endif -%}
                <span>{{ menuitem.label -}}</span>
                {% if menuitem.widget -%}
                    <span class="badge {{ menuitem.widget.cls }}">{{ menuitem.widget.label|raw }}</span>
                {%- else -%}
                    <i class="fa fa-angle-left pull-right"></i>
                {%- endif %}
            </a>
            <ul class="treeview-menu">
                {% for childs in menuitem.items %}
                    {{ self.setItems(childs) }}
                {% endfor %}
            </ul>
        </li>
    {% elseif menuitem.heading %}
        <li class="header" style="padding: 0px; padding-left: 7px;">
            <span class="h1" style="margin-top: -10px;margin-bottom: -10px;">{{ menuitem.heading.label }}</span>
            {% if menuitem.heading.label_small %}<span class="h6">{{ menuitem.heading.label_small|raw }}</span>{% endif %}
        </li>
    {% else %}
        <li{% if menuitem.id %} id="{{ menuitem.id }}"{% endif %}>
            <a href="javascript:" data-link="{{ menuitem.type }}" data-href="{{ menuitem.href }}" data-params="{{ menuitem.params }}" data-for="{{ menuitem.for }}">
                {% if menuitem.iconCls %}<i class="{{ menuitem.iconCls }}"></i>{% endif %}
                {{ menuitem.label }}{% if menuitem.widget %}
                    <span class="badge {{ menuitem.widget.cls }}">{{ menuitem.widget.label }}</span>{% endif %}
            </a>
        </li>
    {% endif %}
{% endmacro %}