{% macro render(item) %}
<div{% if item.id %} id="{{ item.id }}"{% endif %} class="box flat{% if item.style %} box-{{ item.style }}{% else %} box-primary{% endif %}{% if item.classes %} {{ item.classes|join(' ') }}{% endif %}{% if item.collapsed %} collapsed-box{% endif %}">
  <div class="box-header{% if item.title %} with-border{% endif %}">
    {% if item.back %}
      <button type="button" class="btn{% if item.style %} btn-{{ item.style }}{% else %} btn-primary{% endif %} btn-xs btn-history-back" style="margin-top: -3px; cursor: pointer;">
        <i class="fa fa-arrow-left"></i>
      </button>
    {% endif %}
    {% if item.title %}
      {% if item.pils %}
        <div class="pils{%- if item.pils.classes %} {{ item.pils.classes|join(' ') }}{%- endif -%}" style="{%- if item.pils.styles -%}{{ item.pils.styles|join(' ') }}{%- endif %}">
            <span class="fa fa-{% if item.pils.icon -%}{{ item.pils.icon }}{% else %}question{%- endif %}"></span>
        </div>
      {% endif %}
      <h3 class="box-title"{% if item.pils %} style="margin-top:7px;"{% endif %}>{{ trans(item.title)|capitalize }}</h3>
    {% endif %}
    {% if item.expandable %}
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa {% if item.collapsed %}fa-plus{% else %}fa-minus{% endif %}"></i>
      </button>
    </div>
    {% endif %}
    {% if item.closable %}
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="remove">
        <i class="fa fa-times"></i>
      </button>
    </div>
    {% endif %}
  </div>
  <!-- /.box-header -->
  <div class="box-body">
  {% if item.body -%}
    {{ item.body|raw }}
  {%- endif %}
  </div>
  <!-- /.box-body -->
  {% if item.footer %}
  <div class="box-footer">
    {{ item.footer|raw }}
  </div>
  <!-- box-footer -->
  {% endif %}
</div>
<!-- /.box -->
{% endmacro %}