{% if geslocpayEl.links %}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">{{ geslocpayEl.title }}</div>
    <div class="panel-body">
        {{ geslocpayEl.message|raw }}
    </div>
    <!-- List group -->
    <ul class="list-group">
    {% for link in geslocpayEl.links %}
        {% if link.href and link.type %}<li class="list-group-item">
            <a href="#" data-link="{{ link.type }}" data-href="{{ link.href }}" data-for="{{ link.for }}" role="button">
            <i class="fa fa-arrow-right"></i>&#160;{{ link.text|trans }}</a></li>{% endif %}
    {% endfor %}
    </ul>
</div>
{% endif %}